baseURL = "http://noobcoderr.github.io/"
languageCode = "zh-cn"
theme = "hugo-theme-cleanwhite"
#publishDir = "docs"
baseurl = "https://github.com/noobcoderr"
title = "NoobCoder"
googleAnalytics = "UA-146689682-1"
preserveTaxonomyNames = true
paginate = 5  # 每页的文章数
hasCJKLanguage = true # 开启可以让「字数统计」统计汉字

[outputs]
home = ["HTML", "RSS", "Algolia"]

[params]
  header_image = "img/go2.jpg"
  SEOTitle = "Jzhang Blog | Jzhang Blog"
  description = "Python,Golang"
  keyword = "博客, 个人网站, 互联网, Web, 云原生, PaaS, Istio, Kubernetes, 微服务, Microservice"
  slogan = ""

  image_404 = "img/404-bg.jpg"
  title_404 = "你来到了没有知识的荒原 :("

  #是否@示toc
  #showToc = "false"

  # leancloud storage for page view counter
  page_view_conter = false 
  leancloud_app_id = ""
  leancloud_app_key = ""

  # algolia site search
  algolia_search = true
  algolia_appId = ""
  algolia_indexName = ""
  algolia_apiKey = ""

  # Sidebar settings
  sidebar_about_description = "Software Developer, Open Source Enthusiast and Life Adventurer"
  sidebar_avatar = "img/jzhang.jpg"      # use absolute URL, seeing it's used in both `/` and `/about/`

  featured_tags = true 
  featured_condition_size = 1 

  # Baidu Analytics
  ba_track_id = ""

  #Enable wechat pay & alipay to allow readers send reward money if they like the articles 
  reward = true 
  # reward_guide = "如果这篇文章对你有用,请随意打赏" 

  friends = true
  bookmarks = true
  about_me = true
  enableGitalk = true
 #这段gittalk配置放在highlightjs之后，就会导致显示不了，加格式错误，文章一个
 #滑动条，整个页面一个滑动条
 [params.gitalk]
   clientID = "c279f5088459d987985f"
   clientSecret = "28f3f1c9515060bedff017a9bdd42ec2d3b4054c"
   repo = "noobcoderr.github.io"
   owner = "noobcoderr"
   admin = "noobcoderr"
   id = "location.pathname"
   labels= "gitalk" # Github issue labels. If you used to use Gitment, you can change it
   perPage= 15 # Pagination size, with maximum 100.
   pagerDirection= "last" # Comment sorting direction, available values are 'last' and 'first'.
   createIssueManually= false # If it is 'false', it is auto to make a Github issue when the administrators login.
   distractionFreeMode= false # Enable hot key (cmd|ctrl + enter) submit comment.

  # Include any custom CSS and/or JS files, url or relative to /static folder
  #custom_css = ["css/lightbox.css", "https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css", "css/main.css"]
  #custom_js = ["js/lightbox.js", "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js", "js/main.js"]

  # Highlight.js theme
  # demo: https://highlightjs.org/static/demo/
  highlightjs = "docco"



  [params.social]
  rss            = true 
  email          = "gakky1529@gmail.com"
  #facebook      = "full profile url in facebook"
  #googleplus    = "full profile url in googleplus"
  #twitter       = "full profile url in twitter"
  linkedin       = "https://www.linkedin.com/in/yourlinkedinid"
  stackoverflow  = "https://stackoverflow.com/users/yourstackoverflowid"
  #instagram     = "full profile url in instagram"
  github         = "https://github.com/noobcoderr"
  wechat         = "your wechat qr code image"
#medium         = "full profile url in medium"
  #pinterest     = "full profile url in pinterest"
  #reddit        = "full profile url in reddit"
  #gitlab        = "full profile url in gitlab"
  #mastodon      = "full profile url in mastodon"
  #keybase       = "full profile url in keybase"
  #git           = "full profile url for git user"
  
  [[params.friend_link]]
  #title = "Linda的博客"
  #href =  "https://zhaozhihan.com"

  [[params.bookmark_link]]
  title =  "Martin Fowler"
  href =  "https://martinfowler.com"
  [[params.bookmark_link]]
  title = "ServiceMesher"
  href =  "http://www.servicemesher.com"
  [[params.bookmark_link]]
  title =  "Pxhere"
  href = "https://pxhere.com"
  [[params.bookmark_link]]
  title = "unsplash"
  href = "https://unsplash.com"
  
  [[params.addtional_menus]]
  title =  "BOOKS"
  href =  "/top/books/"
  [[params.addtional_menus]]
  title =  "ABOUT"
  href =  "/top/about/"

[outputFormats.Algolia]
 baseName = "algolia"
 isPlainText = true
 mediaType = "application/json"
 notAlternative = true

[params.algolia]
 vars = ["title", "summary", "date", "publishdate", "expirydate", "permalink"]
 params = ["categories", "tags"] 


